<script type="text/javascript">
  function addTaskInputField() {
    let taskFieldCount = document.querySelectorAll('.task-input').length
 
    const name = "task" + ++taskFieldCount + ".new"
    const placeholder = "Task " + taskFieldCount;
    const tasks = document.querySelector('.js-tasks');
    const node = document.createElement("div");
  node.innerHTML = `<input type="text" placeholder="`+placeholder+`" class="form-control" id="titleInput" name="` + name + `"/>`;

  tasks.append(node);
  }

  let tagFieldCount = document.querySelectorAll('.tag-input').length
  function addTagInputField() {
    const name = "tag" + ++tagFieldCount + ".new"
    const placeholder = "Tag " + tagFieldCount;
    const tasks = document.querySelector('.js-tags');
    const node = document.createElement("div");
  node.innerHTML = `<input type="text" placeholder="`+placeholder+`" class="form-control" id="titleInput" name="` + name + `"/>`;

  tasks.append(node);
  }
</script>


<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= reminderItem.description %></textarea>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Reminder Date</label>
      <div class="col-10">
        <input class="form-control" 
        value="<%= reminderItem.date %>" type="datetime-local" name="date"  id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-group">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
    </div>

    <div class="form-group js-tasks">
      <label for="title">Tasks</label>
      <% reminderItem.tasks.forEach(function (task, index) { %>
        <div class="edit-single-task">
          <input type="text" class="form-control task-input" id="titleInput" placeholder="Task 1" name="task<%= task.id %>" value="<%= task.task %>">

          <span class="completed-input">
            <input name="task<%= task.id %>.completed" class="form-check-input" 
            value="<%= !task.completed %>" type="checkbox" <%= task.completed ? "checked" : "" %> id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              completed
            </label>
          </span>

        </div>
      <% }) %>  
    </div>
    <button type="button" onclick="addTaskInputField()" >add more tasks</button> 

    <div class="form-group js-tags">
      <label for="tag">Tags</label>
      <% reminderItem.tags.forEach(function (tag, index) { %>
        <div class="edit-single-task">
          <input type="text" class="form-control tag-input" id="tagInput" name="tag<%= index %>" value="<%= tag %>">
        </div>
      <% }) %>  
    </div>
    <button type="button" onclick="addTagInputField()" >add more tags</button>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
