<div class="container">
  <h1 class="page-header">Reminders</h1>
<!-- today's date -->
<!-- group your reminders, friends reminders -->
<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      <a href='#' class='close' aria-hidden='true'>&times;</a>
    </li>
  <% }) %>

  <% friendsReminders.forEach(function (friend) { %>
    <h2><%= friend.name %></h2>
    <% friend.reminders.forEach(function (reminder) { %>
    <li class="list-group-item">
      <strong><%= reminder.title %>: </strong>
      <%= reminder.description %>
      || Completed:
      <% if (reminder.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminder.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminder.id %>>View</a>
      <a href='#' class='close' aria-hidden='true'>&times;</a>
    </li>
    <% }) %>
  <% }) %>
</ul>

</div>
