<div class="container">
  <header class="date-header">
    <div class="date">
      <div id="day-field">
        <div id="day"><%= new Date().getDay() %></div>
        <div id="month"><span id="month_name"><%= new Date().toLocaleString('default', { month: 'short' }).toUpperCase() %></span>
          <span id="year"><%= new Date().getFullYear() %></span>
        </div>
      </div>
      <div id="week">
        <%= new Date().toLocaleDateString('default', { weekday: 'long' }) %>
      </div>
    </div>

    <div class="header-name">
      <%= name %>
    </div>
	</header>

  <h1 class="page-header">Your Reminders:</h1>

<!-- group your reminders, friends reminders -->
<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>

<ul class="list-group" style="padding-top: 25px;">
  <h2>Your Friends Reminders:</h2>
  <% friendsReminders.forEach(function (friend) { %>
    <h4  style="padding-top: 10px;"><%= friend.name %></h4>
    <% friend.reminders.forEach(function (reminder) { %>
    <li class="list-group-item">
      <strong><%= reminder.title %>: </strong>
      <%= reminder.description %>
      || Completed:
      <% if (reminder.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminder.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminder.id %>>View</a>
    </li>
    <% }) %>
  <% }) %>
</ul>

</div>
