<div class="container">
  <header class="date-header">
    <div class="date">
      <div id="day-field">
        <div id="day"><%= new Date().getDate() %></div>
        <div id="month"><span id="month_name"><%= new Date().toLocaleString('default', { month: 'short' }).toUpperCase() %></span>
          <span id="year"><%= new Date().getFullYear() %></span>
        </div>
      </div>
      <div id="week">
        <%= new Date().toLocaleDateString('default', { weekday: 'long' }) %>
      </div>
    </div>

    <div class="header-name">
      <%= name %>
    </div>
	</header>

  <div>
    <div class="weather-container">
      <div class="cities">
        <div class="city">
          <h4 class="city-name" data-name="Vancouver,CA">
            <span>Vancouver</span>
            <sup>BC</sup>
          </h4>
          <div class="city-temp"><%= weather.temp %><sup>°C</sup></div>
          <figure>
            <img class="city-icon" src="<%= weather.imageUrl %>">
            <figcaption><%= weather.description %></figcaption>
          </figure>
        </div>
      </div>
    </div>

  </div>
  <h1 class="page-header">Your Reminders:</h1>
  <!-- your reminders  -->
  <ul class="list-group reminder-list"  style="list-style-type:none;">
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <input id="reminderItem" type="checkbox" <%= reminderItem.completed ? "checked" : "" %>/>
        <label for="reminderItem">
          <strong><%= reminderItem.title %>: </strong><%= reminderItem.description %>
        </label>
        <span class="reminder-date">Due: <strong><%= reminderItem.formattedDate %> @ <%=reminderItem.formattedTime %></strong></span>
        <ul style="list-style-type:none;">
          <% reminderItem.tasks.forEach(function (task) { %>
            <li>
              <input id="taskItem" type="checkbox" <%= task.completed ? "checked" : "" %>/>
              <label for="taskItem">
               <span class="<%= task.completed ? 'completed' : '' %>"><%= task.task %></span>
              </label>
            </li>
          <% }) %>
        </ul>

        <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      </li>
    <% }) %>
  </ul>

<!-- friends reminders -->
<ul class="list-group  reminder-list" style="padding-top: 25px;">
  <h2>Your Friends Reminders:</h2>
  <% friendsReminders.forEach(function (friend) { %>
    <h4  style="padding-top: 10px;"><%= friend.name %></h4>
    <% friend.reminders.forEach(function (reminder) { %>
      <li class="list-group-item">
        <input id="reminderItem" type="checkbox" <%= reminder.completed ? "checked" : "" %>/>
        <label for="reminderItem">
          <strong><%= reminder.title %>: </strong><%= reminder.description %>
        </label>
        <span class="reminder-date">Due: <strong><%= reminder.formattedDate %> @ <%=reminder.formattedTime %></strong></span>
        <ul style="list-style-type:none;">
          <% reminder.tasks.forEach(function (task) { %>
            <li>
              <input id="taskItem" type="checkbox" <%= task.completed ? "checked" : "" %>/>
              <label for="taskItem">
               <span class="<%= task.completed ? 'completed' : '' %>"><%= task.task %></span>
              </label>
            </li>
          <% }) %>
        </ul>

        <a class="pull-right" href=<%= "/reminder/" + reminder.id %>>View</a>
      </li>
    <% }) %>
  <% }) %>
</ul>

</div>
