<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>

        <% reminderItem.tags.forEach(function (tag) { %>
          <span class="badge badge-primary"><%= tag %></span>
        <% }) %>

          <% reminderItem.tasks.forEach(function (item) { %>
            <div class="form-check">
              <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
                <input name="<%= item.task %>.completed" class="form-check-input" 
                value="<%= item.completed %>" type="radio" <%= item.completed ? "checked" : "" %> id="flexCheckDefault" onchange="this.form.submit()">
                <label class="form-check-label" for="flexCheckDefault">
                  <%= item.task %>
                </label>
              </form>
  
            </div>
          <% }) %>


        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>
